<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Airport manager</title>
    <link rel="stylesheet" href="{%static 'base.css' %}">
</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="{% url 'index' %}">Accueil</a></li>

        </ul>
        </nav>
        <h1>Gestionnaire de traffic aérien</h1>

    </header>



    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; MARTIN Richard 2024 - Tous droits réservés</p>
    </footer>
</body>
</html>