{% extends 'base.html' %}

{% block content %}
    <h1>{{ type_avion.marque }} {{ type_avion.modele }}</h1>
    <p>Description: {{ type_avion.description }}</p>
    <p>Longueur de piste nécessaire: {{ type_avion.longueur_piste_necessaire }}</p>
    {% if type_avion.image %}
        <img class="rounded-image" src="{{ type_avion.image.url }}" alt="{{ type_avion.marque }} {{ type_avion.modele }}">
    {% endif %}
<a href="{% url 'edit_type_avion' type_avion.id %}"><button>Modifier</button></a>
<a href="{% url 'index' %}"><button>Retour à l'index</button></a>
{% endblock %}