{% extends 'base.html' %}

{% block content %}
    <h1>Details du Vol: {{ vol.id }}</h1>
    <p>Avion: {{ vol.avion.nom }}</p>
    <p>Pilote: {{ vol.pilote }}</p>
    <p>Aeroport Depart: {{ vol.aeroport_depart.nom }}</p>
    <p>Piste Depart : <a href="{% url 'piste_detail' vol.piste_depart %}">{{ vol.piste_depart }}</a></p>
    <p>Date Heure Depart: {{ vol.date_heure_depart }}</p>
    <p>Aeroport Arrivee: {{ vol.aeroport_arrivee.nom }}</p>
    <p>Piste Arrivee : <a href="{% url 'piste_detail' vol.piste_arrivee %}">{{ vol.piste_arrivee }}</a></p>
    <p>Date Heure Arrivee: {{ vol.date_heure_arrivee }}</p>
<a href="{% url 'edit_vol' vol.id %}"><button>Modifier</button></a>
<a href="{% url 'index' %}"><button>Retour à l'index</button></a>

{% endblock %}